header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #701770; 
    font-size: 50px;
    padding:50px;
  }
  body {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #7568e6; 
    font-size: 25px;
  }
  h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #c51cbd; 
    font-size: 25px;
  }
footer {
  font-family: Futura, Trebuchet MS;
  font-weight: bold condensed;
  color: #1cc538; 
  font-size: 25px;
}
p {
  font-family: Futura, Trebuchet MS;
  font-weight: bold condensed;
  color: #360c34; 
  font-size: 25px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;;
}
  
  #content {
    padding:3px;
}
#WPI{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;}
#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
   display: block;
   text-decoration: none; /* remove underline */
   border-radius: 15px;  /* rounded corners */
   margin: 6px;
   padding: 9px;
   color: rgb(112, 63, 175);
   font-weight: bold;

   /* nice gradient shade on the buttons */
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgb(141, 133, 133));

   border: 1px solid #666; /* dark outline */
}
nav li:active {
    background-color: rgb(139, 135, 135);
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
  }