header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #701770; 
    font-size: 25px;
  }
  body {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #7568e6; 
    font-size: 25px;
  }
  h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #c51cbd; 
    font-size: 25px;
  }